@page "/p"
@using lesson25_EF_Core_Blazor.Models
@using lesson25_EF_Core_Blazor.Services
@inject ProductService ProductService

<h3>Products</h3>

<ProductList Products="products"
             OnEdit="BeginEdit"
             OnDelete="DeleteProductAsync" />

<hr />

<ProductForm Model="formModel"
             IsEditMode="isEditMode"
             OnSave="SaveAsync"
             OnCancel="CancelEdit" />

@code {

    private List<Product>? products;

    private Product formModel = new();

    private bool isEditMode = false;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.ListProductsAsync();
    }

    private async Task SaveAsync()
    {
        if (isEditMode)
            await ProductService.UpdateProductAsync(formModel);
        else
            await ProductService.AddProductAsync(formModel);

        products = await ProductService.ListProductsAsync();
        ResetForm();
    }

    private void BeginEdit(Product product)
    {
        formModel = new Product
        {
            Id = product.Id,
            Name = product.Name,
            Price = product.Price
        };

        isEditMode = true;
    }

    private async Task DeleteProductAsync(int id)
    {
        await ProductService.DeleteProductAsync(id);
        products = await ProductService.ListProductsAsync();
    }

    private void CancelEdit()
    {
        ResetForm();
    }

    private void ResetForm()
    {
        formModel = new Product();
        isEditMode = false;
    }
}