@page "/"

<PageTitle>Lesson 19 Demo App</PageTitle>

<h1>Lesson 19 - Introduction to Blazor and Razor Syntax</h1>
<p>
    In this lesson you will:
</p>

<ul>
    <li>Create and run a new Blazor Server application</li>
    <li>Build a new Razor component</li>
    <li>Use inline C# expressions in markup</li>
    <li>Use @@code blocks to store data and logic</li>
    <li>Use data binding (@@bind) on an input</li>
    <li>Build a small interactive UI that mixes HTML + C#</li>
</ul>
